/* Forms */

.inputContent {
    margin-top: 13px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.input, 
.button {
    width: 350px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.4s; 
}

.input {
    width: 100%;
    background-color: var(--basic-three);
    font-family: var(--font-family-text);
    color: var(--font-color-two);
    opacity: 0.8;

    &:focus {
        box-shadow: 0px 0px 8px 0px var(--basic-three);
        opacity: 1;
    }
}

.button {  
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid var(--basic-three);
    font-family: var(--font-family-title);
    color: var(--font-color-one);
    border-radius: 5px;
    transition: 0.5s;

    &:hover {    
        color: var(--background-one);
        background-color: var(--basic-three);  
    }
}

.iconContent {
    position: absolute;    
    width: 25px;
    margin-right: 10px;
    margin-top: -8px;
    opacity: 0.5;

    &:hover {
        opacity: 0.8;
    }
}

.dropdown {
    margin-bottom: 4px;
    width: 100%;

    &:focus {
       box-shadow: 0px 0px 0px 0px transparent; 
    }
}

.uploadText {
    font-family: var(--font-family-text);
    padding: 0;
    margin: 0;
}

.label {
    font-family: var(--font-family-text);
    letter-spacing: 0.5px;
}

.error {
    margin: 0;
    padding-left: 16px;
    font-family: var(--font-family-text);
    font-size: 13px;
    color: var(--error-color);
}

.errorImage {
    box-sizing: border-box;
    border: 2px solid var(--error-color);
    box-shadow: 0px 0px 10px var(--error-color) inset;
}