@import '../../../styles/';

.content {
    width: 130px;
    height: 130px;
    margin-bottom: 35px;

    & img {
        width: 130px;
        height: 130px;
        padding: 0;
        border-radius: 50%;
        object-fit: cover;
        border: dashed 1px transparent;
        opacity: 1;
        transition: 0.5s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
            border: dashed 1px var(--basic-two);   
            transform: scale(0.95);
            padding: 7%;
        }
    }
}
