@import '../../styles/';


.content {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: var(--footer-height);
    color: var(--font-color-one);
    background: linear-gradient(180deg, 
        var(--background-one) 0%,
        var(--background-one) 70%, 
        var(--basic-two) 200%);
    background-attachment: fixed;

    .layoutContent {
        display: flex;
        align-items: start;
        height: calc(100% - var(--footer-height));

        .leftMenu {
            position: fixed;
            top: 0;
            width: var(--left-bar-with);
            height: calc(100% - var(--footer-height));
            background-color: var(--background-two);
            transition: 0.5s;
            z-index: 11;

            &:hover {
                box-shadow: 0px -10px 20px -5px var(--basic-two);
            }
        }

        .childrenContent {
            display: flex;
            justify-content: flex-start;
            align-items: start;
            flex-direction: column;
            width: calc(100% - var(--left-bar-with));
            margin-left: var(--left-bar-with);
            padding-bottom: 30vh;
            background-color: transparent;
            font-family: "neutra-book";

            .navbar {
                position: fixed;
                top: 0;
                width: calc(100% - var(--left-bar-with));
                height: var(--nav-height);
                background: linear-gradient(var(--background-one) 10%, transparent 100%);
                z-index: 10;
            }

            .pages {
                width: 100%;
                background-color: transparent;
            }
        }
    }

    .InfoButton {
        position: fixed;
        top: calc(100% - var(--footer-height)*2);
        left: 90%;
        z-index: 10;
    }

    .footer {
        position: fixed;
        top: calc(100% - var(--footer-height));
        width: 100%;
        height: var(--footer-height);
        background: var(--background-two);
        background: linear-gradient(0deg, 
            var(--background-two) 0%,
            var(--background-two) 70%,
            var(--background-one) 150%);
        z-index: 10;
        transition: 0.5s;

        &:hover {
            box-shadow: var(--left-bar-with) 0px 20px -5px var(--basic-two);
        }
    }    
}







