/* Colores Globales */

:root {
    --basic-one: #00c3ff;
    --basic-two: #9f2aff;
    --basic-three: #d6d6d6;

    --background-one: #090909;
    --background-two: #111111;
    --background-three: #c0c0c0;

    --error-color: #f3224f;
    --right-color: #66d4ff;

    --font-color-one: #dddddd;
    --font-color-two: #2b2b2b; 
}


 


