/* Global Fonts */

@font-face {
    font-family: "neutra-book";
    src: url("../assets/fonts/NeutraTextBook.otf");  
}

@font-face {
    font-family: "neutra-blod";
    src: url("../assets/fonts/NeutraTextBold.otf");
}

:root {
    --font-family-title: "neutra-blod";
    --font-family-text: "neutra-book";
}