@import '../../../styles/';


.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5%;
    /* padding-bottom: 200px; */

    .album {
        text-decoration: none;
        font-size: 18px;
        font-family: var(--font-family-title);
        color: var(--basic-three);  
        transition: 0.5s;

        &:hover {
            opacity: 0.5;
            filter: contrast(1.5);
        } 

        .image {
            width: 100%;
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;
            border-radius: 10%;
        }

        .name {
            display: flex;
            align-items: start;
            margin-top: 10px;

            .icon {
                width: 13px;
                margin-top: 3px;
                margin-right: 10px;
            }  
            
            & p {
                margin: 0;
                padding: 0;
                font-size: 17px;
            }
        } 
    }
}


/* Responsive > 1024 */
@media screen and (max-width: 1024px) {

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

}





