@import '../../styles/';


.content {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;


/*     
    width: 100%;
    height: 100%; */
    
    /* background-image: url('../../assets/img/soundwave-logo-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */

 
}

.contentItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 6%;
}

.button {
    width: 200px;
    padding: 13px;
    box-sizing: border-box;
    font-family: var(--font-family-title);
    color: var(--font-color-one);
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 14px;
    background-color: transparent;
    box-shadow: 0px 0px 20px -10px var(--basic-three);
    border-radius: 5px;
    border: 1px solid var(--basic-three);
    transition: 0.5s;
}
    .button:hover {
        text-shadow: 0px 0px 10px var(--basic-two);
        border: 1px solid var(--basic-two);
        box-shadow: 0px 0px 15px -3px var(--basic-two);
    }

.logo {
    /* width: 15%; */
    width: 200px;
    transition: 2s;
    filter: drop-shadow(0px 0px 0px var(--basic-two));
    animation: animateLogo 4s linear infinite;
     
}
    .logo:hover {
        animation: animateLogo 1.5s linear infinite;
    }


.secctionList {
    display: flex;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 11%;
    margin-bottom: 2%;
    font-size: 18px;
    text-transform: uppercase;
    /* border-bottom: 3px solid var(--background-two); */
    letter-spacing: 2px;
    font-family: var(--font-family-text);
}



@keyframes animateLogo {
    0% {
        filter: drop-shadow(0px 0px 17px var(--basic-three));
    }

    50% {
        filter: drop-shadow(0px 0px 17px var(--basic-two));
    }

    75% {
        filter: drop-shadow(0px 0px 17px var(--basic-one));
    }
    100% {
        filter: drop-shadow(0px 0px 17px var(--basic-three));
    }
}