@import '../../../styles/';


.uploadFile {
    width: 50px;
    margin-bottom: 15px;
}

.image {
    display: grid;
    place-items: center;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--background-one);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 0.5;
        background-color: transparent;
    }
}

.songName {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 5px;
    font-family: var(--font-family-title);
    font-size: 17px;
    letter-spacing: 1px;
}
