@import '../../../styles/';


.slide {
    width: 25% !important;
    min-width: 250px !important;
    padding-bottom: 20px;

    .item {
        position: relative;

        .image {
            width: 100%;
            padding-top: 100%;
            background-position: center;
            background-size: cover;
            box-shadow:
                30px -10px 64px 5px rgba(0, 0, 0, 0.75),
                -30px -10px 34px 5px rgba(0, 0, 0, 0.75);
        }

        .playerIcon {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            padding: 35%;
            filter: drop-shadow(0px 0px 9px var(--background-one));
            cursor: pointer;
            transition: 0.5s;
            opacity: 0;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .name {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        font-family: var(--font-family-title);
    }
}

.navigation {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    box-shadow: 50px 0px 0px -50px var(--basic-two) inset;
    background: transparent;
    border: none;
    opacity: 0.5;
    transition: 0.5s; 

    &:hover {
        filter: drop-shadow(0px 0px 5px var(--basic-two));
        opacity: 1;
    }

    .icon {
        height: 20px;
    }
}



