@import '../../../styles/';


.slide {
    width: 25% !important;
    min-width: 250px !important;
    padding-bottom: 20px;
    transition: 0.5s;
}
    .slide:hover {
    
    
        transition: 0.5s;
    }

.name {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    font-family: var(--font-family-title);
 
}

.item {
    position: relative;
    
}

.buttonLeft, 
.buttonRight {
    box-shadow: 50px 0px 0px -50px var(--basic-two) inset;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
    transition: 0.7s;
    margin-top: -30px;
}
    .buttonLeft:hover {
        filter: drop-shadow(0px 0px 5px var(--basic-two));
        opacity: 1;
    }
    .buttonRight:hover {
        filter: drop-shadow(0px 0px 5px var(--basic-two));
        opacity: 1;
    }

.icon {
    height: 20px; 
}

.image, 
.playerIcon {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.image {
    width: 100%; 
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: 
        30px -10px 64px 5px rgba(0, 0, 0, 0.75),
        -30px -10px 34px 5px rgba(0, 0, 0, 0.75);
}

.playerIcon {
    position: absolute;
    width: 30%;
    /* padding: 35%; */
    filter: drop-shadow(0px 0px 9px var(--background-one));
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.playerIcon:hover {
    opacity: 0.8;
}






/* 
-----------------------------------------------------
-----------------------------------------------------
*/



/*

.slide {
    display: flex;
    justify-content: start;
    align-items: top;
    width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    position: relative;
}

.image,
.playerIcon {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.image {
    position: relative;
    width: 100%;

    background-position: center;
    background-size: cover;
    padding-top: 100%;
}

.playerIcon {
    position: absolute;
    width: 15%;
    filter: drop-shadow(0px 0px 9px var(--background-one));
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}

.playerIcon:hover {
    opacity: 1;
    width: 17%;
}

.name {
    margin-top: 10px;
    margin-right: 30px;
    font-family: var(--font-family-title);
}

.buttonLeft,
.buttonRight {
    box-shadow: 50px 0px 0px -50px var(--basic-two) inset;
    background: transparent;
    border: none;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
    transition: 0.7s;
}

.buttonLeft:hover {
    filter: drop-shadow(0px 0px 5px var(--basic-two));
    opacity: 1;
}

.buttonRight:hover {
    filter: drop-shadow(0px 0px 5px var(--basic-two));
    opacity: 1;
}

.icon {
    height: 30px;
}


.slider {
    position: relative;
    overflow-x: visible;
    scroll-snap-type: x mandatory;
    background-color: blue;
}

.image {
    position: sticky;
    scroll-snap-align: center;
}

*/