@import '../../../styles/';


.image {
    display: grid;
    place-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--background-one);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 0.5;
        background-color: transparent;
    }
}

.noPhoto {
    max-width: 50%;
    padding: 50px;
    opacity: 0.5;
}

.photo {
    max-width: 100%;
    max-height: 220px;
    padding: 0;
    opacity: 1;
}
