@import '../../../styles/';


.content {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--font-family-text);
}

.miniature {
    width:60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
}

.songData {
    width: 40vw;
    margin-left: 4vw;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.volumeContent {
    display: flex;
    justify-content: end;
    width: 40vw;
    margin-right: 4vw; 
}

.volume {    
    width: 15vw;
    max-width: 150px;
    height: 4px;
}    

.player {
    width: 100%;
}


