@import '../../../styles/';


.content{
    display: flex;
    align-items: start;

    .albumImage {
        width: 25%;
        min-width: 170px;
    }

    .textContent {
        padding-left: 5%; 
        
        .textAlbum {
            font-size: 50px;
            letter-spacing: 1px;
            cursor: auto;
            margin-block-start: 10px;
            margin-block-end: 15px;
            cursor: default;
        }

        .textArtist {
            text-decoration: none;
            color: var(--basic-three);
            font-size: 20px;
            border-bottom: 3px solid var(--background-two);
            transition: 0.5s; 

            &:hover {
                opacity: 0.5;
            }
        }
    }
}







