@import '../../../styles/';


.banner {
    display: flex;
    align-items: end;
    width: calc(100vw - var(--left-bar-with));
    height: 60vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: calc(0.5 * var(--left-bar-with));
    /* filter: grayscale(100%); */
}


.name {
    font-size: calc(1em + 6vw);
    padding: 3%;
    padding-bottom: 4%;
    margin: 0;
    left: 0;
    text-shadow: 
        0px 0px 50px var(--background-two),  
        0px 0px 40px var(--background-one);
} 

.filter {
    position: absolute;
    top: 0;
    width: calc(100vw - var(--left-bar-with));
    height: 60vh;
    background: linear-gradient(transparent 70%, var(--background-one));
}

